<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my blog</h1>
    <br>
    <br>
    <h3>Today's date is: {{ current_date }}</h3>
    <br>
    <br>
    <h2>What is a client?</h2>
    <p>It is a desktop computer or workstation that is capable of obtaining information and applications from a server.</p>
    
    <h2>What is a server?</h2>
    <p>It is a computer or computer program which manages access to a centralized resource or service in a network.</p>
    
    <h2>What is an HTTP request?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ipsa perspiciatis excepturi quae, sequi necessitatibus consectetur fuga eos neque reiciendis. Quisquam quas iusto, rerum sit animi sed nostrum. Ducimus, itaque.</p>
    
    <h2>What is an HTTP response?</h2>
    <p>An HTTP response is made by a server to a client.</p>
    
    <h2>What is Django and why do we use it?</h2>
    <p>Django is a web framework for python that connects front end and back end files.</p>
</body>
</html>